
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Edu NSW ACT Foundation', cursive, sans-serif;
    font-weight: normal;
  }
  
  body {
    padding: 0;
    margin: 0;
    background: #fffffff0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .calculator-grid {
    display: grid;
    border: 2px solid black;
    justify-content: center;
    align-content: center;
    min-height: 100vh; /* take fill 100% of height all the time */
    grid-template-columns: repeat(4, 100px); 
    grid-template-rows: minmax(120px, auto) repeat(5, 100px); /*resize as large as needed*/
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
  }
  
  .calculator-grid > button:hover {
    background-color: rgba(0, 0, 0, .9);
    color: #f9f9f9;
  }
  /*AC and EQUALS button take 2 columns*/
  .span-two {
    grid-column: span 2; 
    background-color: blue;
  }
  /*Output formatting*/
  .output {
    grid-column: 1 / -1;
    background-color: rgba(40, 39, 39, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 0.5em;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }